{% extends 'base.twig' %}

{% block content %}

<h2>New user</h2>

<b>{{ flash.info }}</b> <br />
<b>{{ flash.error }}</b> <br />

<form action="" method="POST">

<label>Username: </label>
<input type="text" name="user" value="{{ username }}"> <br />
<label>Password: </label>
<input type="password" name="pass"> <br />
<label>Email: </label>
<input type="text" name="user" value="{{ email }}"> <br />
<label>Security question: </label>
<input type="text" name="question" value="{{ question }}"> <br />
<label>Answer to your question: </label>
<input type="password" name="answer"> <br />
<input type="hidden" name="nonce" value="{{ nonce }}">
<input type="submit" name="submit" value="Create new user">
</form>
{% endblock %}
